/* FEATURED POSTS STYLING */
.featured-post-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.featured-post-image {
  width: 100%;
  height: 8rem;

  object-fit: cover;

  border-radius: 0.6rem;
}

.featured-post-title {
  font-size: 1.8rem;
  /* font-weight: 700; */
  color: var(--font-color);
}

/* GENERAL POSTS STYLING */
.post-link {
  text-decoration: none;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  color: var(--font-color);

  padding: 0.4rem 0.8rem;
  margin-bottom: 2.4rem;
}

.post-container:hover {
  background-color: var(--interaction-background-color);
  border-radius: 0.6rem;

  transition: all 0.3s;
}

.post-title {
  font-size: 2rem;
  font-weight: 700;
}

/* SUB CONTAINER CONTAIN DATE AND DURATION */
.post-sub-container {
  font-size: 1.4rem;
  color: var(--font-color--secondary);

  /* OVERWRITE JUSTIFY CONTENT CENTER */
  justify-content: flex-start;
}

.post-description {
  font-size: 1.6rem;
  color: var(--font-color--secondary);
}
