.section-contact {
  margin-bottom: 6.4rem;
}

.contact-title {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 3.2rem;

  /* OVERWRITE CENTERED JUSTIFY CONTENT */
  justify-content: flex-start;
}

.contact-title div {
  display: inline-block;
  width: 0.6rem;
  height: 2rem;
  background-color: var(--primary-color);
}

.contact-container {
  /* OVERWRITE CENTERED ALIGN-ITEMS */
  align-items: flex-start;
}

.contact-text {
  font-size: 1.8rem;
  color: var(--font-color);
}

.contact-send-message {
  padding: 1.2rem 2.4rem 2.4rem;
}

.send-message-btn {
  display: flex;
  justify-content: flex-end;
}

.send-message-text {
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem 2.4rem;
}
