.section-hero {
  margin-bottom: 6.4rem;

  position: relative;
}

/* HERO TITLE */
.hero-title {
  height: 32vh;

  justify-content: space-between;

  color: var(--font-color);
}

.hero-title--text h2 {
  font-size: 4.4rem;
  font-weight: 700;
}

.hero-title--text p {
  font-size: 2rem;
}

.hero-title--image {
  position: relative;
}

.hero-title--image::after {
  content: 'OPEN TO WORK !';
  position: absolute;
  top: 24%;
  right: -6%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.2rem 0.6rem;
  border-radius: 1rem 1rem 1rem 0;
}

.hero-title--image img {
  height: 34vh;

  border-radius: 999rem;

  z-index: -9;
}

@media (max-width: 72em) {
  .hero-title--image img {
    height: 24vh;
  }

  .hero-title--image::after {
    font-size: 0.8rem;
    padding: 2px 4px;
    top: 26%;
    right: -6%;
  }
}

@media (max-width: 32em) {
  .hero-title {
    height: 24vh;
  }

  .hero-title--image img {
    height: 18vh;
  }

  .hero-title--image::after {
    font-size: 0.8rem;
    padding: 2px 4px;
    top: 16%;
    right: -12%;
  }
}

/* HERO DESCRIPTION */
.hero-description div {
  line-height: 1.6;

  color: var(--font-color--secondary);
}

.hero-description div a {
  color: var(--primary-color);
}

.hero-description div a:link::after,
.hero-description div a:visited::after,
.hero-description div a:hover::after,
.hero-description div a:active::after {
  background-color: var(--primary-color);
}

@media (max-width: 64em) {
  .hero-title--text h2 {
    font-size: 3.6rem;
  }
}

.hero-description {
  font-size: 1.8rem;
  color: var(--font-color);

  margin-bottom: 3.2rem;

  /* OVERWRITE FLEX CENTER */
  align-items: flex-start;
}

/* HERO CTA */
.hero-cta {
  margin-bottom: 3.2rem;
}

/* TODO SHOULD HEIGHT BE SET TO AUTO? */
@media (max-width: 64em) {
  .section-hero {
    height: auto;
  }
  .hero-cta-scroll {
    display: none;
  }
}

/* BELOW ARE SCROLL DOWN STYLING, CURRENTLY DISABLED */
/*
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--font-color);
  border-right: 2px solid var(--font-color);
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -15px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -15px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 0px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -15px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0px) rotate(45deg);
    opacity: 0;
  }
}
*/
