.section-hero {
  height: 88vh;

  margin-bottom: 6.4rem;
}

/* HERO TITLE */
.hero-title {
  height: 36vh;

  justify-content: space-between;
  margin-bottom: 3.2rem;

  color: var(--font-color);
}

.hero-title--text h2 {
  font-size: 4.4rem;
  font-weight: 700;
}

.hero-title--text p {
  font-size: 2rem;
}

.hero-title--image img {
  height: 36vh;

  border-radius: 999rem;

  z-index: -9;
}

@media (max-width: 48em) {
  .hero-title {
    height: 30vh;
  }

  .hero-title--image img {
    height: 24vh;
  }
}

@media (max-width: 24em) {
  .hero-title {
    height: 24vh;
  }

  .hero-title--image img {
    height: 16vh;
  }
}

/* HERO DESCRIPTION */
.hero-description p {
  /* FIXME ALL PARAGRAPH LINE HEIGHT NEED TO BE ADJUSTED SYSTEMMATICALLY */
  line-height: 1.6;

  color: var(--font-color--secondary);
}

@media (max-width: 48em) {
  .hero-title--text h2 {
    font-size: 3.6rem;
  }
}

.hero-description {
  font-size: 1.8rem;
  color: var(--font-color);

  margin-bottom: 3.2rem;

  /* OVERWRITE FLEX CENTER */
  align-items: flex-start;
}

/* HERO CTA */
.hero-cta {
  margin-bottom: 3.2rem;
}

/* TODO SHOULD HEIGHT BE SET TO AUTO? */
@media (max-width: 48em) {
  .section-hero {
    height: auto;
  }
  .hero-cta-scroll {
    display: none;
  }
}
