/* .section-interactive {
} */

.checkbox-interactive {
  font-size: 1.2rem;

  height: 4vh;
}

.interactive-container {
  height: 0;
  opacity: 0;

  transition: all 0.6s ease-in-out;
}

.active {
  height: 88vh;
  opacity: 1;

  margin-bottom: 6.4rem;
}

.interactive-chat {
  height: 84vh;
  /* overflow: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;

  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;

  display: flex;
  flex-direction: column-reverse;

  font-size: 1.6rem;
  color: var(--font-color);
}

/* HIDE VERTICAL SCROLL BAR */
::-webkit-scrollbar {
  width: 0px;
  /* make scrollbar transparent */
  background: transparent;
}

.interactive-scroll {
  height: 4vh;
  opacity: 0;

  animation: delayScroll 0.15s ease-out 0s forwards;
  animation-delay: 20.3s;
}

@keyframes delayScroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chat {
  display: flex;
  flex-direction: row-reverse;

  /* NOTE SET UP ORIGIN FOR AN ELEMENT'S TRANSFORMATION */
  transform-origin: 100% 100%;
  padding-top: 0;
  transform: scale(0);
  max-height: 0;
  overflow: hidden;

  animation: message 0.15s ease-out 0s forwards;
  animation-delay: var(--delay);

  --bgcolor: var(--interaction-background-color);
  --radius: 0.6rem 0.6rem 0 0.6rem;
}

.chat__howie {
  flex-direction: row;
  /* text-align: right; */
  /* align-self: flex-end; */

  transform-origin: 0 100%;

  --bgcolor: var(--interaction-background-color-hw);
  --radius: 0.6rem 0.6rem 0.6rem 0;
}

.chat__content {
  padding: 0.6rem 1.2rem;
  /* flex: 0 1 auto; */

  background: var(--bgcolor);
  border-radius: var(--radius);
}

.chat__content a {
  color: var(--primary-color);
  text-decoration: none;
}

.chat__content a:link::after,
.chat__content a:visited::after,
.chat__content a:hover::after,
.chat__content a:active::after {
  background-color: var(--primary-color);
}

@keyframes message {
  0% {
    max-height: 100vmax;
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    max-height: 100vmax;
    overflow: visible;
    /* overflow: scroll; */
    padding-top: 1rem;
  }
}
