.section-posts {
  margin-bottom: 6.4rem;
}

.posts-title {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 3.2rem;

  /* OVERWRITE CENTERED JUSTIFY CONTENT */
  justify-content: flex-start;
}

.posts-title div {
  display: inline-block;
  width: 0.6rem;
  height: 2rem;
  background-color: #eb5e28;
}

@media (min-width: 768px) {
  .posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
}

@media (max-width: 767px) {
  .post-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
