.project-detail-container {
  /* LEAVE TOP SPACE FOR FIXED MAIN NAVIGATION */
  padding-top: 8vh;

  margin: 0 auto 3.2rem;

  width: 50vw;
  font-size: 1.8rem;
}

.project-overview {
  height: 92vh;
}

.project-heading {
  height: 24vh;

  margin: 0 auto;

  gap: 1.2rem;
}

.project-heading h2 {
  font-size: 3.6rem;
}

.project-video {
  height: 60vh;
  /* overflow: hidden; */
  margin: 0 auto;
}

.project-video--btn {
  margin-top: 2.4rem;
}

.project-scroll {
  height: 8vh;
}

.post-intro {
  margin: 2.4rem 0;
}

.divider-container {
  width: 100%;
  height: 4.8rem;
}

.divider {
  width: 50%;
  height: 1px;

  margin: 4.8rem auto 0;

  background-color: var(--font-color--secondary);
}

@media (max-width: 64em) {
  .project-detail-container {
    width: 70vw;
  }
  .project-overview {
    height: auto;
  }
  .project-video {
    height: auto;
  }
  .project-scroll {
    display: none;
  }
}

@media (max-width: 32em) {
  .project-detail-container {
    width: 90vw;
  }
}
