.projects-container {
  /* LEAVE TOP SPACE FOR FIXED MAIN NAVIGATION */
  padding-top: 8vh;

  margin: auto;
}

.checkbox-list-view {
  font-size: 1.2rem;
  color: var(--font-color--light);

  height: 4vh;

  margin-bottom: 2.4rem;
}

.projects-container section {
  margin-bottom: 6.4rem;
}

.category-title {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 3.2rem;

  /* OVERWRITE CENTERED JUSTIFY CONTENT */
  justify-content: flex-start;
}

.category-title div {
  display: inline-block;
  width: 0.6rem;
  height: 2rem;
  background-color: #eb5e28;
}

.category-sub-title {
  font-size: 1.6rem;

  margin-bottom: 2.4rem;

  /* OVERWRITE CENTERED JUSTIFY CONTENT */
  justify-content: flex-start;
}
