.photo-image-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  /* FIXME BG COLOR WILL BE UPDATED BASED ON NEW COVER IMAGE */
  /* background-color: #fff; */
  /* outline: 1px solid #ccc5b9; */
  border-radius: 0.6rem;
}

.photo-image-container img {
  width: 100%;
  object-fit: cover;
}
