.main-navigation {
  /* OVERRIDE JUSTIFY-CONTENT */
  justify-content: space-between;
}

.main-navigation__title a:link,
.main-navigation__title a:visited,
.main-navigation__title a:hover,
.main-navigation__title a:active {
  text-decoration: none;

  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.main-navigation__menu-btn {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 2rem;
  height: 2px;
  background: var(--font-color);
}

.main-navigation__drawer-nav {
  height: 100%;
}

/* SWITCH BETWEEN NAV LINKS & MENU BUTTON */
@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-navigation__links {
    display: none;
  }
}

/* MAIN NAVIGATION RESPONSIVENESS */
@media (max-width: 48em) {
  .main-navigation {
    width: 70%;
  }
}

@media (max-width: 24em) {
  .main-navigation {
    width: 90%;
  }
}
