.footer {
  width: 50%;
  margin: auto;

  /* TODO ADD PADDING */
}

/* FOOTER RESPONSIVENESS */
@media (max-width: 48em) {
  .footer {
    width: 70%;
  }
}

@media (max-width: 24em) {
  .footer {
    width: 90%;
  }
}
