/* VIEW IN GRID */
.project-container--grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  margin-bottom: 6.4rem;
}

.project-content-container--grid {
  /* OVERWRITE CENTERED ALIGN ITEMS */
  align-items: flex-start;
}

.project-title--grid {
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color);
}

.project-image--grid {
  width: 100%;
  height: 18rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  /* FIXME BG COLOR WILL BE UPDATED BASED ON NEW COVER IMAGE */
  /* background-color: #fff; */
  /* outline: 1px solid #ccc5b9; */
  border-radius: 0.6rem;
}

.project-image--grid img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.project-technology--grid {
  list-style: none;

  font-size: 1.6rem;
  font-weight: 600;
  color: var(--font-color--secondary);
}

.project-technology--grid li {
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 500;

  background-color: var(--interaction-background-color);

  padding: 2px 8px;
  border-radius: 4px;
}

.project-description--grid {
  font-size: 1.8rem;
  color: var(--font-color--secondary);

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

@media (max-width: 24em) {
  .project-sub-container--grid {
    width: 100%;

    flex-direction: column;
    align-items: center;
  }

  .project-image--grid {
    width: 100%;
  }

  .project-technology--grid {
    width: 100%;

    flex-direction: row;
    justify-content: flex-start;
  }
}

/* VIEW IN LIST */
.project-container--list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  padding: 0.4rem 0.8rem;
  margin-bottom: 2.4rem;
}

.project-container--list:hover {
  background-color: var(--interaction-background-color);
  border-radius: 0.6rem;

  transition: all 0.3s;
}

.project-title--list {
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color);
}

.project-cta--list a {
  font-size: 1.6rem;
  color: var(--font-color--secondary);
  font-weight: 400;
}

.project-cta--list a:hover {
  color: var(--font-color);
}

.project-description--list {
  font-size: 1.6rem;
  color: var(--font-color--secondary);

  width: 100%;
}
