/* 
--- NOTE 01 TYPOGRAPHY SYSTEM ---
- FONT FAMILY 
Nunito 

- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Extra-light: 200
Light: 300
Regular(Default): 400
Medium: 500
Semi-bold: 600
Bold: 700
Extra-bold: 900

- LINE HEIGHTS
Tiny: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- LETTER SPACING
Tight: -0.5px
Default: 0px
Medium: 0.5px
Large: 0.75px

--- NOTE 02 COLORS ---
*palette link: N/A
- Reference
#fcf7f1 #CCC5B9 #403D39 #252422 #EB5E28 

- LIGHT MODE
-- Body-background: #fcf7f1
-- Font-color: #252422
-- Primary: #EB5E28
-- Tints: #FDEFEA #F7BFA9 #F18E69
-- Shades: #BC4B20 #762F14 #2F1308
-- Accents: N/A

- DARK MODE
-- Body-background: #252422
-- Font-color: #fcf7f1
TODO UPDATE DARK MODE PALLETE
-- Primary: #2C4A73
-- Tints (adding white): #FDEFEA #F7BFA9 #F18E69
-- Shades (adding black): #a5421c #5e2610 #170904 
-- Accents: N/A

GREYS
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#fafafa (body background) #555 #333

--- NOTE 03 SHADOWS ---
Card: 0 7px 30px -10px rgba(150, 170, 180, 0.4);
Card:hover: 0 7px 30px -10px rgba(150, 170, 180, 0.9);

--- NOTE 04 BORDER-RADIUS ---
Tiny: 4px || 0.4rem
Small: 6px || 0.6rem
Default: 9px || 0.9rem
Medium: 11px || 1.1rem
Large: 14px || 1.4rem

--- NOTE 05 WHITESPACE ---
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 112 / 128

--- NOTE 06 RESPONSIVE ---
- Web 1024px || 64em
- Tablet 768px || 48em 
- Mobile 384px || 24em

--- NOTE 07 COMPONENTS ---
- BUTTON
-- Primary #eb5e28 #FFF
-- primary: hover #a5421c #FFF

-- Secondary #403D39 (font & border color)
-- Secondary: hover #252422 (font & border color)

-- Danger
#ff7675 (background and border color)

-- Disabled
#ccc (background and border color)
 */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap');

/* CSS VARIABLES */

/* COLORS */
:root {
  /* LIGHT THEME */
  --primary-color: #eb5e28;
  --primary-color-tint--30: #f18e69;
  --primary-color-tint--60: #f7bfa9;
  --primary-color-tint--90: #fdefea;
  --primary-color-shade--30: #a5421c;
  --primary-color-shade--60: #5e2610;
  --primary-color-shade--90: #170904;

  /* --secondary-color: #66635d;
  --secondary-color-tint--30: #94928e;
  --secondary-color-tint--60: #c2c1be;
  --secondary-color-tint--90: #f0efef;
  --secondary-color-shade--30: #474541;
  --secondary-color-shade--60: #292825;
  --secondary-color-shade--90: #0a0a09; */

  --background-color: #fcf7f1;
  --font-color: #252422;
  --font-color--secondary: #403d39;

  /* MAIN NAVIGATION */
  /* rgb(255,255,255) */
  --nav-background-color: 255, 255, 255;

  /* INTERACTION COLOR */
  --interaction-background-color: #e6dfd3;
  --interaction-background-color-hw: #fff;
}

.dark-theme {
  --primary-color: #0085ff;
  --primary-color-tint--30: #4daaff;
  --primary-color-tint--60: #99ceff;
  --primary-color-tint--90: #e6f3ff;
  --primary-color-shade--30: #005db3;
  --primary-color-shade--60: #003566;
  --primary-color-shade--90: #000d19;

  /* --secondary-color: #001f3b;
  --secondary-color-tint--30: #4d6276;
  --secondary-color-tint--60: #99a5b1;
  --secondary-color-tint--90: #e6e9eb;
  --secondary-color-shade--30: #001629;
  --secondary-color-shade--60: #000c18;
  --secondary-color-shade--90: #000306; */

  --background-color: #031423;
  --font-color: #d6def8;
  --font-color--secondary: #969bae;

  /* MAIN NAVIGATION */
  /* rgb(27,55,80) */
  --nav-background-color: 27, 55, 80;

  /* INTERACTION COLOR */
  --interaction-background-color: #002c55;
  --interaction-background-color-hw: #1b3750;

  transition: all 0.3s ease-in-out;
}

/* TYPOGRAPHY */
:root {
  --body-font: 'Nunito', sans-serif;
  --font-size-normal-percentage: 62.5%;
  --font-size-small-percentage: 56.25%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* PERCENTAGE OF USER'S BROWSER FONT-SIZE SETTING */
  font-size: var(--font-size-normal-percentage);
}

body {
  font-family: var(--body-font);
  color: var(--font-color);

  display: block;
  background: var(--background-color);
}

input,
textarea,
button {
  font-family: inherit;
}

/* RESPONSIVENESS */
@media (max-width: 48em) {
  html {
    font-size: var(--font-size-small-percentage);
  }
}

/* TODO RETHINK SHOULD BRING MOBILE RESPONSIVENESS BACK */
/* @media (max-width: 24em) {
  html {
    font-size: 50%;
  }
}  */

/* HELPER CLASSES */
/* CENTER */
.center-text {
  text-align: center;
}

.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* GAPS */
.extra-tiny-gap {
  gap: 0.4rem;
}
.tiny-gap {
  gap: 0.8rem;
}
.extra-small-gap {
  gap: 1.6rem;
}
.small-gap {
  gap: 2.4rem;
}
.medium-gap {
  gap: 4.8rem;
}
.large-gap {
  gap: 9.6rem;
}
/* BELOW IS FOR SIMILAR VIEW IN DRAWING/PHOTO/POST PAGES THE SAME AS PORTFOLIO PAGE */
.container-gap {
  height: 4vh;
}

/* RESPONSIVE WIDTH */
.responsive-width {
  width: 50vw;
}

@media (max-width: 48em) {
  .responsive-width {
    width: 70vw;
  }
}

@media (max-width: 24em) {
  .responsive-width {
    width: 90vw;
  }
}

/* CSS TRANSITIONS */
.slide-in-top-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-in-top-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.slide-in-top-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-in-top-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
